* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #85b09d;
  width: 100%;
  height: 100%;
}

body {
  aspect-ratio: 16 / 9;
  background-image: url(images/title-background.png);
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
  overflow: hidden;
}

@keyframes titleAnime {
  0% {
    transform: translateY(0) scale(1, 1);
  }
  45% {
    transform: translateY(0) scale(1, 1);
  }
  65% {
    transform: translateY(-10px) scale(1, 0.98);
  }
  85% {
    transform: translateY(3px) scale(1.01, 1.03);
  }
  100% {
    transform: translateY(0) scale(1, 1);
  }
}

.titleAnime {
  animation-name: titleAnime;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes gwejAnimeRight {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.gwejAnimeRight {
  animation-name: gwejAnimeRight;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes gwejAnimeLeft {
  0% {
    transform: scale(-1, 1);
  }
  50% {
    transform: scale(-0.95, 0.95);
  }
  100% {
    transform: scale(-1, 1);
  }
}

.gwejAnimeLeft {
  animation-name: gwejAnimeLeft;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes nggakAnime {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.05);
    opacity: 1;
  }
  40%,
  60%,
  80% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.nggakAnime {
  animation-name: nggakAnime;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

select#stageSelect {
  font-size: 2rem;
  padding: 4px 16px;
  position: absolute;
  top: 2%;
  left: 30%;
  right: 30%;
  text-align: center;
  border-radius: 10px;
  background-color: #abf0d1;
  color: #593d3c;
  border: 5px solid #593d3c;
  font-family: DynaPuff, serif;
  font-variation-settings: wdth 100;
}

.helpModal {
  position: absolute;
  background-color: #abf0d1;
  border: 5px solid #593d3c;
  border-radius: 2%;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-family: DynaPuff, serif;
  font-variation-settings: wdth 100;
  color: #593d3c;
  overflow: scroll;
  transition-property: inset;
  transition-duration: 0.5s;
}

.helpModal section {
  margin-bottom: 20px;
}
.helpModal h1 {
  margin: 20px 0 30px 0;
  font-size: 2.5rem;
}

.helpModal h2 {
  margin: 20px 0 5px 0;
  font-size: 1.8rem;
}

.helpModal hr {
  background-color: #593d3c;
  margin: 20px 0;
  height: 3px;
  border-radius: 2px;
  border: 0;
}

.helpModal .nameList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.stageInfo {
  z-index: 20000;
  position: absolute;
  width: 80%;
  height: 12%;
  left: 10%;
  bottom: -12%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  font-family: DynaPuff, serif;
  font-variation-settings: wdth 100;
  border-radius: 20px 20px 0 0;
  background-color: #abf0d1;
  color: #593d3c;
  border: 5px solid #593d3c;
  border-bottom: none;
  opacity: 0.95;
  transition-property: bottom;
  transition-duration: 0.5s;
}

.stageInfo .stageTitle {
  font-size: 2.3rem;
  padding: 0 0.5em;
}

@media only screen and (max-width: 1000px) {
  select#stageSelect {
    font-size: 1rem;
  }
  .helpModal {
    font-size: 1rem;
  }
  .helpModal h1 {
    font-size: 1.5rem;
  }
  .helpModal h2 {
    font-size: 1.2rem;
  }
  .stageInfo {
    font-size: 1.2rem;
  }
  .stageInfo .stageTitle {
    font-size: 1.8rem;
  }
}
